<!DOCTYPE html>
<html>
<head>
<title>Exemplo links dinâmicos</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/estilos.css}" />
</head>
<body>
  <h1>
    Página do Item ID <span th:text="${item.id}"></span>
  </h1>
  <h2>
    Nome: <span th:text="${item.nome}"></span>
  </h2>
  <p>
    Cor HEX: <span th:text="${item.corHex}"></span>
  </p>
  <p>
    Valor: <span th:text="${item.valor}"></span>
  </p>
  <p>
    Data e Hora: <span th:text="${item.dataHora}"></span>
  </p>
  <p th:if="${#lists.isEmpty(item.categorias)}">Sem categorias</p>
  <ul th:unless="${#lists.isEmpty(item.categorias)}" th:each="cat : ${item.categorias}">
    <li th:text="${cat.nome}"></li>
  </ul>
  <a th:href="@{/links/dinamico}">Voltar</a>
</body>
</html>
