@charset "utf-8";

/* http://sergiolopes.org/css-box-sizing-border-box/ */
*, *:before, *:after {
    box-sizing: border-box;
}
html {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
}
body {
    margin-bottom: 30px;
    background-color: #ffeaa7;
}
.footer {
    position: absolute;
    width: 100%;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
    padding-top: 15px;
}